@font-face {
  font-family: 'Inter';
  src: url(../../vendor/Inter-Regular-slnt=0.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url(../../vendor/Inter-Bold-slnt=0.ttf) format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url(../../vendor/Inter-Black-slnt=0.ttf) format('truetype');
  font-weight: 900;
}


.page {
  background-color: #2A2C2F;
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  text-rendering: optimizeLegibility;
}














