@font-face {
  font-family: 'Inter';
  src: url(../../vendor/Inter-Thin-slnt=0.ttf) format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Inter';
  src: url(../../vendor/Inter-ExtraLight-slnt=0.ttf) format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'Inter';
  src: url(../../vendor/Inter-Light-slnt=0.ttf) format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Inter';
  src: url(../../vendor/Inter-Regular-slnt=0.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url(../../vendor/Inter-Medium-slnt=0.ttf) format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url(../../vendor/Inter-SemiBold-slnt=0.ttf) format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url(../../vendor/Inter-Bold-slnt=0.ttf) format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url(../../vendor/Inter-ExtraBold-slnt=0.ttf) format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Inter';
  src: url(../../vendor/Inter-Black-slnt=0.ttf) format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'Inter';
  src: url(../../vendor/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
}

.page {
  background-color: #2A2C2F;
}

















