@import url(./__image/photo-grid__image.css);
@import url(./__item/photo-grid__item.css);
@import url(./__list/photo-grid__list.css);



.photo-grid {
  padding: 0 48px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 92px;
}

@media screen and (max-width :980px) {
  .photo-grid {
    padding: 0 24px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width :600px) {
  .photo-grid {
    padding: 0 16px;
    margin-bottom: 64px;
  }
}




















