.places {
  margin: 0 auto 92px;
  max-width: calc(100% - 2 * 148px);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


@media screen and (max-width : 1024px) {
  .places {
    max-width: calc(100% - 2 * 48px);
  }
}

@media screen and (max-width :980px) {
  .places {
    max-width: calc(100% - 2 * 24px);
    margin-bottom: 88px;
  }
}

@media screen and (max-width :620px) {
  .places {
    max-width: 100%;
    margin-bottom: 64px;
  }
}

