.places {
  margin: 0 0 92px;
  padding: 0 148px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


@media screen and (max-width : 1024px) {
  .places {
    padding: 0 48px;
  }
}

@media screen and (max-width :980px) {
  .places {
    padding: 0 24px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width :600px) {
  .places {
    padding: 0 16px;
    margin-bottom: 64px;
  }
}

