@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);


.lead {
  width: 100%;
  margin: 0 auto 92px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


