@import url(./__logo-link/);
@import url(./__logo/);
@import url(./__lang-list/);
@import url(./__lang-item/);
@import url(./__lang-link/);


.header {
  display: flex;
  justify-content: space-between;
  margin: 28px 0 56px;
  padding: 0 48px;
  width: 100%;
  box-sizing: border-box;
}

.header__logo-link {
  transition: all .3s ease;
}

.header__logo {
  width: 100%;
  max-width: 176px;
}

.header__logo-link:hover {
  opacity: .8;
}

.header__lang-list {
  list-style-type: none;
  display: flex;
}

.header__lang-item {
  margin: 0 18px 0 0;
}

.header__lang-item:last-child {
  margin: 0;
}

.header__lang-link {
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.17;
  text-decoration: none;
  transition: all .3s ease;
}

.header__lang-link:hover {
  border-bottom: 1px solid #fff;
  opacity: .8;
}

.header__lang-link_disabled {
  border-bottom: 1px solid #fff;
  cursor: default;
}


@media screen and (max-width : 1024px) {
  .header {
    margin-bottom: 48px;
  }
}


@media screen and (max-width :980px) {
 .header {
   padding: 0 24px;
 }
}

@media screen and (max-width :600px) {
  .header {
    padding: 0 16px;
    margin-top: 16px;
  }
  
  .header__logo {
    max-width: 142px;
  }
  
  .header__lang-link {
    font-size: 16px;
  }
}








