@import url(./__logo-link/header__logo-link.css);
@import url(./__logo/header__logo.css);
@import url(./__lang-list/header__lang-list.css);
@import url(./__lang-item/header__lang-item.css);
@import url(./__lang-link/header__lang-link.css);


.header {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 28px auto 56px;
  width: calc(100% - 2 * 48px);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


@media screen and (max-width : 1024px) {
  .header {
    margin-bottom: 48px;
  }
}

@media screen and (max-width :980px) {
 .header {
  width: calc(100% - 2 * 24px);
 }
}

@media screen and (max-width :600px) {
  .header {
    width: calc(100% - 2 * 16px);
    margin-top: 16px;
  }
}








