.footer__links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

@media screen and (max-width : 720px) {
  .footer__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-bottom: 48px;
  }
}
