.lead__image {
  width: 100%;
  max-width: calc(100% - 2 * 148px);
  margin: 0 auto 8px;
  display: block;
}


@media screen and (max-width : 1024px) {
  .lead__image {
    max-width: calc(100% - 2 * 48px);
  }
}

@media screen and (max-width : 900px) {
  .lead__image {
    max-width: 100%;
  }
}

