@import url(./__title/./intro__title.css);
@import url(./__text/./intro__text.css);
@import url(./__list/./intro__list.css);
@import url(./__item/./intro__item.css);
@import url(./__item-span/./intro__item-span.css);


.intro {
  margin: 0 0 92px;
  padding: 0 148px;
  box-sizing: border-box;
}


@media screen and (max-width : 1024px) {
  .intro {
    padding: 0 48px;
  }
}

@media screen and (max-width :900px) {
  .intro {
    padding: 0 24px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width :600px) {
  .intro {
    padding: 0 16px;
    margin-bottom: 64px;
  }
}






