@import url(./__title/./intro__title.css);
@import url(./__text/./intro__text.css);
@import url(./__list/./intro__list.css);
@import url(./__item/./intro__item.css);
@import url(./__item-span/./intro__item-span.css);


.intro {
  margin: 0 auto 92px;
  width: calc(100% - 2 * 148px);
  box-sizing: border-box;
}


@media screen and (max-width : 1024px) {
  .intro {
    width: calc(100% - 2 * 48px);
  }
}

@media screen and (max-width :900px) {
  .intro {
    width: calc(100% - 2 * 24px);
    margin-bottom: 88px;
  }
}

@media screen and (max-width :600px) {
  .intro {
    width: calc(100% - 2 * 16px);
    margin-bottom: 64px;
  }
}






