@import url(./__link/cover__link.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);


.cover {
  position: relative;
  width: calc(100% - 2 * 48px);
  padding: 0;
  margin: 0 auto 92px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: calc((740 / 1184) * 100vw);
  max-height: 740px;
  background-image: url(../../images/cover__background__trains_1184w.jpg);
  background-size: cover;
  -webkit-transition: background-image .3s ease;
  transition: background-image .3s ease;
}


@media screen and (max-width : 1024px) {
  .cover {
    width: 100%;
  }
}

@media screen and (max-width : 900px) {
  .cover {
    background-image: url(../../images/cover__background__trains_768w.jpg);
    margin-bottom: 88px;
  }
}

@media screen and (max-width : 768px) {
  .cover {
    background-image: url(../../images/cover__background__trains_768w.jpg);
  }
}

@media screen and (max-width : 600px) {
  .cover {
    margin-bottom: 64px;
  }
}

@media screen and (max-width : 540px) {
  .cover {
    background-image: url(../../images/cover__background__trains_540w.jpg);
  }
}

@media screen and (max-width : 320px) {
  .cover {
    background-image: url(../../images/cover__background__trains_320w.jpg);
  }
}
