@import url(./__link/cover__link.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);


.cover {
  width: calc(100% - 2 * 48px);
  padding: 0;
  margin: 0 auto 92px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: calc((740 / 1184) * 100vw);
  max-height: 740px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(42, 44, 47, 0.3)), to(rgba(42, 44, 47, 0.3))),
                    url(../../images/cover__background__trains.jpg);
  background-image: linear-gradient(rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)),
                    url(../../images/cover__background__trains.jpg);
  background-size: cover;
  -webkit-transition: background-image .3s ease;
  transition: background-image .3s ease;
}

.cover:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(42, 44, 47, 0.3)), to(rgba(42, 44, 47, 0.8))),
                    url(../../images/cover__background__trains.jpg);
  background-image: linear-gradient(rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.8)),
                    url(../../images/cover__background__trains.jpg);
  background-size: cover;
}

@media screen and (max-width : 1024px) {
  .cover {
    width: 100%;
  }
}

@media screen and (max-width : 900px) {
  .cover {
    margin-bottom: 88px;
  }
}

@media screen and (max-width : 700px) {
  .cover {
    margin-bottom: 64px;
  }
}
