.place__link {
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.22;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.place__link:hover {
  opacity: .8;
}