.footer__nav {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width : 720px) {
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}
