.cover__title {
  color: #fff;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.06;
  text-align: center;
  margin: 0 0 32px;
  max-width: 560px;
}



@media screen and (max-width : px) {
  .cover__title {

  }
}

@media screen and (max-width : 700px) {
  .cover__title {
    font-size: 52px;
    line-height: 1.09;
    max-width: 450px;
    margin-bottom: 24px;
  }
}

@media screen and (max-width : 550px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
    max-width: 288px;
    margin-bottom: 16px;
  }
}


