.cover__title {
  color: #fff;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.06;
  text-align: center;
  margin: 0 0 32px;
  max-width: 560px;
}


@media screen and (max-width : 700px) {
  .cover__title {
    font-size: 60px;
    line-height: 1.09;
    max-width: 450px;
    margin-bottom: 24px;
  }
}


@media screen and (max-width : 600px) {
  .cover__title {
    font-size: 44px;
    max-width: 340px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width : 450px) {
  .cover__title {
    font-size: 32px;
    max-width: 250px;
    margin-bottom: 16px;
  }
}


