@import url(./__links/footer__links.css);
@import url(./__item/footer__item.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);


.footer {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0 48px;
  margin: 0 0 24px;
}


@media screen and (max-width : 980px) {
  .footer {
    padding: 0 24px;
    margin: 0 0 24px;
  }
}

@media screen and (max-width : 720px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}
